body *{

margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
outline: none;
}

.center {
  text-align: center;
}
form {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 138px;
  padding-left: 100px;
}

input {
  border-radius: 5px;
  padding: 12px 14px;
  display: block;
  border: 1px solid rgba(234, 234, 234, 1);
  margin-bottom: 16px;
  width: 100%;
}

button {
  width: 300px;
  height: 45px;
  border-radius: 5px;
  background: rgba(70, 163, 88, 1);
  margin-top: 41px;
  margin-bottom: 37px;
}



em {
  width: 157px;
  height: 16px;
  padding-left: 172px;
  padding-top: 52px;
  margin-bottom: 40px;
}
p {
  width: 300px;
  height: 16px;
  padding: 0px 45px 0px 0px;
  margin-bottom: 14px;
  padding-left: 100px;
  padding-top: 108px;
}



img {
  width: 300px;
  height: 300px;
}
    
   
.input:disabled {

  width:300px;
  height: 8px;
  margin-top: 8px;
  left: 100px;
  font-family: Cera Pro;
font-size: 13px;
font-weight: 40;
line-height: 16px;
text-align: left;
margin-top: 37px;
}
#wrapper {

  width: 300px;
height: 40px;
top: 566px;
left: 100px;
margin-bottom: 50px;
}